# Firebase Environment Variables
# Copy this file to .env and fill in your Firebase project values

VITE_FIREBASE_API_KEY="AIzaSyDh5-NrhgFBFo7k3jhxUDdlvFYfByt5VcI",
VITE_FIREBASE_AUTH_DOMAIN="rahul-portfolio-baac3.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="rahul-portfolio-baac3",
VITE_FIREBASE_STORAGE_BUCKET="rahul-portfolio-baac3.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="30588209403",
VITE_FIREBASE_APP_ID="1:30588209403:web:03075c9fef37cc7415085e"
